@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
    font-family: 'DM Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  max-width: 1000px;
  padding: 2rem 0;
}

main > * {
    margin: 0 auto;
    text-align: center;
}

a {
  text-decoration: none;
}

ul {  
  list-style-type: none;
}  


/* MAIN HEADER */
.main-nav {
  display: flex;
}

.main-header {
  width: 100vw;

/*
  position:fixed;
  top: 0;
  left: 0;*/
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #333;
}

.main-header__brand img {
  margin: 0;
  padding: 1rem;
  margin: 0 2rem;
  width: 150px;
  vertical-align: middle;
}

.main-nav__items {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav__item {
  padding: 0 1rem;
  color: white;
}

.main-nav__item a {
  display:inline-block;
  height: 0.1rem;
  color: white;
}

.main-nav__item a:hover {
  color: teal;
}

.main-dropdown {
  position: relative;
  display: inline-block;
}

.main-dropdown__content {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.form-login__forgot {
  color: black;
  padding: 0.5rem 0.2rem;
  text-align: center;
  display: block;
}
.form-login__forgot:hover {
  font-weight: bold;
  color: #1c4220;
  background-color: #e4e3e3; 
}

.main-dropdown__button {
  min-width: 200px;
  height:68.48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 0 2rem;
}

/* Show the dropdown menu on hover */
.main-dropdown:hover .main-dropdown__content {display: flex;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.main-dropdown:hover .main-dropdown__button {background-color: #3e8e41;}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__field {
  font-family: 'DM Sans', sans-serif;
  border: 2px solid #ccc;
  padding: 1rem;
  margin: 0.8rem;
}

.form__txtarea {
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.author {
  color: blue;
  font-style:italic;
}

.form__btn {
  margin: 0.8rem;
  appearance: none;
  background-color: #3e8e41; 
  color: white;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.form__btn-remove {
  margin: 0.8rem;
  /*max-width:200px;*/
  appearance: none;
  background-color: red; 
  color: white;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.form__btn-mute {
  margin: 0.8rem;
  appearance: none;
  background-color: rgba(0, 102, 255, 0.858); 
  color: white;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.form__btn a {
  color: white
}

.form__btn:hover {
  background-color: #1c4220;  
}

.chat_window {
  height: 50%;
  border: black solid 0.4rem;
  margin: 2rem;
  padding: 2rem;
}

/* CONTENT */

.help-section {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.help-section sidebar {
  padding: 1rem;
  color: black;
  max-width: 300px;

}

.help-section sidebar a {
  color: black;
}

.help-section sidebar a:hover {
  color: #3e8e41;
}

article {
  max-width: 100%;
}


.help-section article {
  padding: 1rem;
  flex: 1;
  text-align: left;
}

hr {
  border-top: 1px solid black;
  width:100%;
}

.img-feature {
  width: 50%;
  max-width: 200px;
}

.vid-feature {
  width: 80%;
  max-width: 700px;
}

.index-title {
  padding: 2rem;
  color: green;
}

.create_user_form > * {
  min-width: 300px;
}

.create_user_form button {
  padding: 1rem 0;
}

.success {
    color: green;
}

.error {
  color: red;
}

.friends_list {
    font-size: 2rem;
    font-weight: bold;

}

.friends_list a {
    color: black;         
}

.img-settings {
  width: 1rem;
  display:inline-block;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(284deg) brightness(108%) contrast(101%);
}

.article-content {
  padding: 1.2rem;
  border: 4px solid #2d1c00;
  background: rgba(255, 231, 171, 0.308);
}

/* ABOUT SECTION */

.about-section {
  width: 60%; 
  margin: 2rem;
  padding: 1rem;
  border: 4px solid #0e4f1f;
  background: rgba(213, 255, 220, 0.95);
  text-align: left;
}

#about-product {
  float: right;
}

.clearfix {
  clear: both;
}

#messages {
  display:flex;
  max-width: 100%;
  flex-direction: column;
}

.user_msg {
  padding: 0.8rem;
  margin: 1rem 0;
  width: fit-content;
  border-radius: 1rem;
  max-width:90%;
  overflow-wrap: break-word;
  color: black;
  background-color:#18cc39;
}

.friend_msg {
  padding: 0.8rem;
  margin: 1rem 0;
  width: fit-content;
  overflow-wrap: break-word;
  border-radius: 1rem;
  color: white;
  background-color: #0183ff;
  align-self: flex-end;
}

.room_announce {
  font-style: italic;
  color: rgb(255, 127, 127)
}