@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
    font-family: 'DM Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chat_window {
    height: 50%;
    border: black solid 0.4rem;
    margin: 2rem;
    padding: 2rem;
}

main > * {
    margin: 0 auto;
    text-align: center;
}

.main-nav {
  display: flex;
  flex-basis: 60%;
}

.main-header {
  width: 100vw;

/*
  position:fixed;
  top: 0;
  left: 0;*/
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #333;
}

.main-header__brand img {
  margin: 0;
  padding: 1rem;
  margin: 0 2rem;
  width: 150px;
  vertical-align: middle;
}

.main-nav__items {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav__item {
  padding: 0;
  flex: 1 1 auto;
  color: white;
}

.main-nav__item a {
  text-decoration: none;
  display:inline-block;
  height: 0.1rem;
  color: white;
}

.main-nav__item a:hover {
  color: teal;
}

.error {
    color: red;
}

.friends_list {
    font-size: 2rem;
    font-weight: bold;

}

.friends_list a {
    color: black;         
}

.dropbtn {
  height:68.48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 0 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.5rem 0.2rem;
  text-align: center;
  text-decoration: none;
  display: block;
}

.img-settings {
  width: 1rem;
  display:inline-block;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(284deg) brightness(108%) contrast(101%);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*button {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;

    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}*/


