<section>

    <h1>ABOUT US</h1>
    <p>Secure Chat is a University collaborative student hub where students can share resources and access important information regarding their degree.
        Our web application is designed with the student in mind! We have conducted many interviews and performed PACT analysis to ensure that our users have the best experience!
    </p>
    
    <h2>The Product</h2>
    <p>Secure chat has a number of services and features that help our students. These include:</p>
    <ul>
        <li><b>Chat Rooms</b> - instant peer to peer messaging using EE2E. Studnets can connect with friends with confidence!</li>
        <li><b>Knowledge Base</b>  - A collaborative hub where students can post resource, answers, and ask for help.</li>
        <li><b>Help Articles:</b> - If you need help head here! Useful FAQ articles can be found to help you with issues you may be having with our site</li>
    </ul>
    <h2>The Team</h2>
    <p>In our team we have:</p>
    <ul>
        <li><b>Tim</b> - Our humble system and database administrator</li>
        <li><b>Alannah</b> - Our professional software developer and tester and content creator</li>
    </ul>
</section>