<p>Account Settings</p>
</br>

<div>
    <p>
    <form id ="change_password_form" action="/change_password" method="post">
        Current password: <input name="current_password" type="password" />
    </br></br>
        New password: <input name="new_password" type="password" />
    </br></br>
        <button type="submit">Change Password</button>
    </form>
    </p>
</div>

% if defined('success'):
<p class="success">{{success}}</p>
% end

% if defined('err'):
<p class="error">{{err}}</p>
% end