<section>
    <h1>ACCOUNT SETTINGS - {{username}}</h1>
    </br>

    <h2>Change Username</h2>
    <div>
        <p>
        <form class="create_user_form" action="/change_username" method="post">
            <input class="form__field" name="new_username" type="text" required="True" placeholder="New Username"/>

            <button class="form__btn" type="submit">Change Username</button>
        </form>
        </p>
    </div>
    <script>generateRSA('change_username_form')</script>

    % if defined('success_username'):
    <p class="success">{{success_username}}</p>
    % end

    % if defined('err_username'):
    <p class="error">{{err_username}}</p>
    % end

    <h2>Change Password</h2>
    <div>
        <p>
        <form class="create_user_form" action="/change_password" method="post">
           <input  class="form__field" name="current_password" type="password" required="True" placeholder="Current password"/><br>
            <input  class="form__field" name="new_password" type="password" required="True"/  placeholder="New password"><br>
            <input  class="form__field" name="confirm_new_password" type="password" required="True"/  placeholder="Confirm new password"><br>
            <button class="form__btn" type="submit">Change Password</button>
        </form>
        </p>
    </div>

    % if defined('success_password'):
    <p class="success">{{success_password}}</p>
    % end

    % if defined('err_password'):
    <p class="error">{{err_password}}</p>
    % end
</section>