
<section>
    % if not defined('username'):
    <h1>Please create a new user by filling out the below form</h1>
    </br>

    <div>
        <form id="create_user_form" action="/create_user" method="post">
            <input class="form__field" name="username" type="text" placeholder="Username"/>
        </br></br>
            <input class="form__field" name="password" type="password" placeholder="Password"/>
        </br></br>
            <input class="form__field" name="confirm_password" type="password" placeholder=" Confirm Password"/>
        </br></br>
            <button class="form__btn" type="submit" />Create user</button>
        </form>
    </div>
    <script>generateRSA('create_user_form')</script>
    % else:
    <p class="success">Thank you for creating an account {{username}}, you are now logged in. Welcome to our site!</p>
    % end

    % if defined('err'):
    <p class="error">{{err}}</p>
    % end
</section>
