<p>Account Settings</p>
</br>

<div>
    <p>
    <form id="user_form" action="/search_user" method="post">
        Search for a user: <input name="user" type="text" />
    </br></br>
        <button type="submit" name="search">Search</button>
        <button type="submit" name="remove">Remove User</button>
    </form>
    </p>
</div>

% if defined('user'):
<p class="success">{{user}}</p>
<center>
    <form id ="remove_user_button" action="/remove_user" method="post" data-inline="true">
        <button type="submit">Remove User</button>
    </form>
    <form id ="mute_user_button" action="/mute_user" method="post" data-inline="true">
        <button type="submit">Mute user</button>
    </form>
</center>

% end

% if defined('err'):
<p class="error">{{err}}</p>
% end