<p>Account Settings</p>
</br>

<table class="friends_list">
    % for user in user_list:
        <tr>
        %for field in user:
            <form id ="user_form" action="/edit_user" method="post">
                <center>
                    <a>{{field}}</a>
                    <input type="hidden" name="user" value={{field}}>
                    <input type="submit" name="remove" value="Remove user" />
                    <input type="submit" name="mute" value="Mute user" />
                    
                </center>
            </br>
            </form>
        % end
        </tr>
    % end
    </table>