<section>
    <h1>Edit Users</h1>
    </br>

    <table class="friends_list">
        % for user in user_list:
                <form id ="user_form" action="/edit_users" method="post" onsubmit="return submitForm(this);">
                        {{user}}
                        <input class="form__btn" type="hidden" name="user" value={{user}}>
                        <input class="form__btn-remove" type="submit" name="remove" value="Remove user" />
                        % if defined('mute_list') and user in mute_list:
                            <input class="form__btn-mute" type="submit" name="mute" value="Unmute user"" /> 
                        % else:
                            <input class="form__btn-mute" type="submit" name="mute" value="Mute user" />  

                        %end
                    
                </br>
                </form>
        % end
        </table>
    

    <script>
        function submitForm() {
            return confirm("Are you sure that you want to remove/mute this user?");
        }
    </script>

    % if defined('success'):
    <p class="success">{{success}}</p>
    % end
</section>