<head>
  <link rel="stylesheet" type="text/css" href="css/temp.css">
  <script type="text/javascript" src="/js/jsencrypt.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/rsa.js" charset="utf-8"></script>
  <title>Simple Student Templating Solutions</title>
</head>

<body>
  <p>
    <div>
  <ul>
    <li><a class="active" href="/home">Home</a></li>

    % if not defined('username') or username is False:

    <li><a href="/create_user">Create user</a></li>
    <li><a href="/login">Login</a></li>
    % else:
      <li><a href="/logout">Logout</a></li>
      <li><a href="/friends">Friends</a></li> 
      <li style="float:right">Welcome {{username}}</li>
    % end
    <li><a href="/about">About</a></li>
    <!-- <li><a href="/friends">Friends</a></li> -->
  </ul>
  </p>
  <main>
    <h2>Simple Student Templating Solutions</h2>
    </br>
    <h3><i>Because the usability is more important than the back end for now.</i></h3>
    </br>
    <!--<img src="img/header.jpg" alt="Some stuff that popped out of tensor flow" height="30%">-->
