<h1>KNOWLEDGE REPOSITORY</h1>

<p>Welcome to the Knowledge repository. This section is for yourself and fellow peers to share reading and learning materials, or any queries. </p>

<section class="help-section">
    <sidebar>
        % for article in articles:
            <a href="knowledge?article={{article}}"><h3>{{article}}</h3></a>
        % end
    </sidebar>
    <article>
        %if article_content is not None:
            <h1>{{article_title}}</h1>
            %if (defined('anonymous') and anonymous is True):
                <p class="author">posted by Anonymous</p>
            % else:
                <p class="author">posted by {{author}}</p>
            
            %end
            <p>{{!article_content}}</p>
        
        <form action="/knowledge" method="post">
            <input type="hidden" name="article_title" value="{{article_title}}">
            <input class="form__field" name="user_comment" placeholder="Add comment">
            <button class="form__btn-mute" name="comment" value="comment" type="submit">Post</button>
        </form>

        % for comment in comments:
            <p> &nbsp;&nbsp;&nbsp;&nbsp; {{comment}}</p>
        % end

        % if (defined('admin') and admin is True) or (username == author):
        <form action="/knowledge" method="post">
            <input type="hidden" name="article_title" value="{{article_title}}">
            <button class="form__btn-remove" name="remove" value="remove" type="submit"><i class="fa-solid fa-x"></i> Delete Article</button>
        </form>
        %end
        %end
    </article>
</section>
<hr>
% if defined('muted') and muted is True:
</br>
<p class="error">You cannot post anything in the knowledge repository because you have been muted by Admin for breaching the repository rules. Please message Admin if you wish to be unmuted.</p>
</br>
%else:
    
    <form action="/knowledge" method="post">
        <input class="form__field" name="article_title" placeholder="Article Title">
        <textarea class="form__txtarea" name="article_content" placeholder="Article Content"></textarea>

        <input type="checkbox" id="is_anonymous" name="is_anonymous" value="True">
        <label for="is_anonymous"> Anonymous</label><br>

        <button class="form__btn" name="add" value="add" type="submit">Add New Article</button>
    </form>
% end