
% if not defined('username'):
<p>Login with a username and password</p>
</br>

<div>
    <p>
    <form action="/login" method="post">
        Username: <input name="username" type="text" />
    </br></br>
        Password: <input name="password" type="password" />
    </br></br>
        <button type="submit">Login</button>
    </form>
    </p>
</div>
% end
% if defined('err'):
<p class="error">{{err}}</p>
% end

% if defined('username'):
<script>
    function generateRSA() {
        if (!localStorage.RSAPublicKey || !localStorage.RSAPrivateKey) {
            var crypt = new JSEncrypt({default_key_size: 512});
            crypt.getKey();
            sessionStorage.RSAPublicKey = crypt.getPrivateKey();
            sessionStorage.RSAPrivate = crypt.getPrivateKey();
        }
    }
</script>

<p>This username-password combination is valid, welcome {{username}}</p>
% end

